:root {
	// App colors
	--text-color: #202020;
	--text2-color: #464646;
	--text3-color: #fefefe;
	--bg-color: #fefefe;

	// Input colors
	--input-color: #3366ff;
	--input-hover-color: #6690ff;

	// Rows colors
	--row-color-1: #e8e8e8;
	--row-color-2: #bcbcbc;
}
